body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 30%;
    margin: auto;
}

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    color: #333;
}

label {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
	width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
}

.checkbox-radio {
    width: auto;
    margin-right: 5px;
}

.submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer; /*para cambair el cursor a una mano*/
    font-size: 16px;
    margin-top: 10px;
    display: block; /* Convertirlo en un bloque */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.submit-button:hover {
    background-color: #0056b3;
}
.banderaInglaterra {
    position: fixed;
    top: 10px;
    right: 10px;
}

.banderaInglaterra img {
    width: 120px; /* Ajusta el tamaño de la bandera */
    cursor: pointer;
}